<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">{{ (user$ | async)?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary" size="large">{{ (user$ | async)?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label color="primary">
      {{ (user$ | async)?.email }}
    </ion-label>
  </ion-item>

  <ion-button class="logout-btn" (click)="onLogoutClick()" expand="block" color="danger"
    fill="clear">Logout</ion-button>
</ion-content>