<ion-tabs class="safe-top">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="car">
      <ion-icon name="home-outline"></ion-icon>
      {{ 'NAVBAR.CAR' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="alert">
      <ion-icon name="alert-circle-outline"></ion-icon>
      {{ 'NAVBAR.ALERT' | translate }}

    </ion-tab-button>
    <ion-tab-button tab="maps">
      <ion-icon name="location-outline"></ion-icon>
      {{ 'NAVBAR.MAPS' | translate }}

    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      {{ 'NAVBAR.PROFILE' | translate }}

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>