<app-detail-header [addBtnText]="'Add CarTypes'" [url]="'create'" (filter)="onFilter($event)"></app-detail-header>
<ng-container *ngIf="list$ | async as list">
  <cartrackr-table [data]="list">
    <ng-template [appTableHeader]="list" let-data>
      <th class="py-3 px-6">id</th>
      <th class="py-3 px-6">Name</th>
      <th></th>
    </ng-template>
    <ng-template [appTableRow]="list" let-row>
      <td class="py-3 px-6">
        {{ row.id }}
      </td>
      <td class="py-3 px-6">
        {{ row.name }}
      </td>

      <td class="flex gap-2 justify-end py-2 pr-2">
        <a class="btn-sm" [routerLink]="[row.id]">Edit</a>
        <button class="btn-sm danger" (click)="onDelete(row.id)">Delete</button>
      </td>
    </ng-template>
  </cartrackr-table>
</ng-container>