<header class="px-8 py-4 bg-white dark:bg-gray-800 flex justify-between items-center">
    <a [routerLink]="['/', 'dashboard']" class="text-2xl font-bold text-slate-900 dark:text-gray-100">Cartrackr</a>


    <div class="flex items-center relative">
        <!-- <button (click)="logout.emit()" class="text-slate-900 dark:text-gray-100">Logout</button> -->
        <button type="button" (click)="logout.emit()" class="btn-sm" id="user-menu-button">
            Logout
        </button>
        <!-- Dropdown menu -->
        <!-- <dialog #dialog
            class="text-base absolute top-full right-0 list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
            <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
            </div>
            <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                    <a href="#"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                    <a href="#"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                </li>
                <li>
                    <a href="#"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
                </li>
                <li>
                    <a href="#"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                        out</a>
                </li>
            </ul>
        </dialog> -->
    </div>


</header>