<nav class="bg-white dark:bg-gray-800 py-4 px-3 h-full">
    <ul class="space-y-2 font-medium">
        <ng-container *ngIf="list$ | async as list">
            <li *ngFor="let navItem of list">
                <a [routerLink]="navItem.routerLink"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <app-icon [name]="navItem.icon"
                        class="h-6 w-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></app-icon>
                    <span class="ml-3">{{ navItem.title }}</span>
                </a>
            </li>
        </ng-container>



    </ul>
</nav>