<ng-container *ngIf="detail$ | async"></ng-container>
<div class="bg-white dark:bg-gray-800 rounded-lg p-6">
  <form [formGroup]="createForm" (ngSubmit)="onSubmitClick()">
    <app-text-input formControlName="name" label="Brand" type="text"></app-text-input>
    <button type="submit" class="btn w-full mt-6">Save</button>
  </form>
</div>

<ng-container *ngIf="(isNew$ | async) === false">
  <div class="pt-8" *ngIf="(type$ | async) === carDetailType.BRAND">
    <h2 class="dark:text-white pb-2">Model Categories</h2>

    <app-detail-header [addBtnText]="'Add Category'" [url]="'categories/create'"
      (filter)="onFilterCategories($event)"></app-detail-header>
    <ng-container *ngIf="categoryList$ | async as list">
      <cartrackr-table [data]="list">
        <ng-template [appTableHeader]="list" let-data>
          <th class="py-3 px-6">id</th>
          <th class="py-3 px-6">Name</th>
          <th></th>
        </ng-template>
        <ng-template [appTableRow]="list" let-row>
          <td class="py-3 px-6">
            {{ row.id }}
          </td>
          <td class="py-3 px-6">
            {{ row.name }}
          </td>

          <td class="flex gap-2 justify-end py-2 pr-2">
            <a class="btn-sm" [routerLink]="['categories', row.id]">Edit</a>
            <button class="btn-sm danger" (click)="onDeleteCategory(row.id)">Delete</button>
          </td>
        </ng-template>
      </cartrackr-table>
    </ng-container>
  </div>

  <div class="pt-8" *ngIf="(type$ | async) === carDetailType.BRAND || (type$ | async) === carDetailType.CATEGORY">
    <h2 class="dark:text-white pb-2">Models</h2>
    <app-detail-header [addBtnText]="'Add Model'" [url]="'models/create'"
      (filter)="onFilterModels($event)"></app-detail-header>
    <ng-container *ngIf="modelList$ | async as list">
      <cartrackr-table [data]="list">
        <ng-template [appTableHeader]="list" let-data>
          <th class="py-3 px-6">id</th>
          <th class="py-3 px-6">Name</th>
          <th></th>
        </ng-template>
        <ng-template [appTableRow]="list" let-row>
          <td class="py-3 px-6">
            {{ row.id }}
          </td>
          <td class="py-3 px-6">
            {{ row.name }}
          </td>

          <td class="flex gap-2 justify-end py-2 pr-2">
            <a class="btn-sm" [routerLink]="['models', row.id]">Edit</a>
            <button class="btn-sm danger" (click)="onDeleteModel(row.id)">Delete</button>
          </td>
        </ng-template>
      </cartrackr-table>
    </ng-container>
  </div>
</ng-container>